h1 {
  color: rgb(111, 111, 201);
}
h1 {
  color: rgb(15, 30, 240);
}
li {
  display: inline;
}

.fixed-header{
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header {
  position: fixed;
  margin: 40px 20px 0px 20px;
  font-size: 0;
  line-height: 45px;
  font-family: sans-serif;
}


.header >*{ /*A los hijos de header, es decir a cada uno de ellos, les aplica las siguientes propiedades*/
  
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
  font-family: sans-serif;
}

.logo{
  width: 15%;
}

.logo > img {
  height: 100%;
}

.navbar{
  width: 70%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions{
  width: 15%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
}

.actions a{
  color: #67b54b;
  text-align: left;
}

.actions button{
  color:white;
  background-color: #67b54b;
  padding: 12px 14px 12px 14px;
  border: 0;
  border-radius: 5px;
}

.capterra{
  padding-left: 50%;
  padding-top: 50%;
  margin-top: 10%;
}



.publish h3 {
  font-family: "Bodoni 72";
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

/*promo será nuestro flex containter principal y va a ordernar a los flex items*/
.advertisments{
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.video{
  
  
  display: flex;
  size: auto;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  padding-right: 5%;

}

.video img{
  display: flex;
  width:  120px;
  height: 40px;
}