h1 {
  color: rgb(111, 111, 201);
}
h1 {
  color: rgb(240, 15, 15);
}

.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  line-height: 45px;
}

li {
  display: inline;
}

.header >*{ /*A los hijos de header, es decir a cada uno de ellos, les aplica las siguientes propiedades*/
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  height: 100%;
  line-height: 45px;
}

.logo{
  width: 15%;
}

.navbar{
  width: 70%;
  text-align: center;
  color: green;
}

.actions{
  width: 15%;
  text-align: right;
  font-size: 14px;
}

.capterra{
  padding-left: 50%;
  padding-top: 50%;
  margin-top: 10%;
}